body
{
    font-family: 'Noto Sans', sans-serif; 
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{

    display: flex;
}

.nav-wrapper > .left-side >div{
    margin-right: 20px;
    font-size: 0.9em;

}
/* navstyles */
.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}
.active-nav-link a{
    color: black !important;
}
/* portfolio styles */
 
.portfolio-items-wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }

.portfolio-item-wrapper{
        position: relative;

}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.logo-wrapper img{
    width: 100%;
    margin-bottom: 50px;
    
}
.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 200;
    color: transparent;
}


.img-text-wrapper:hover .subtitle{
    font-weight: 500;
    font-size: 80%;
    color:darkslategray;
}
.img-darken{
    transition: 1s;
    filter: brightness(10%);
}
/* bottom phone and email small container */
.container_small{
    display: grid;
    grid-template-columns: 1fr;
}
/* about-us page */
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-img-wrapper{
    width: 100%;
}
.profile-content-wrapper{
    padding: 30px;
}
.profile-content-wrapper h1{
    color: darkgreen;
}

.middle-side{
        display: flex;
        font-size: 200;
        background-color: linen;
    
}